* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/plano\ de\ fundo\ jogo\ da\ memoria.jpeg');
}

img {
    width: 100px;
    height: 100px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
    grid-template-areas: "title title title"
                         ". result ."
                         "aside cartas content"
                         "aside cartas content";
}

.result {
    border-radius: 10px;
    background-color: #E9F4F6;
    display: flex;
    grid-area: result;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 70px;
    padding-top: 5%;
    grid-area: title;
    text-align: center;
}

h2 {
    margin: 5%;
    flex-direction: row;
}

.main {
    position: relative;
    grid-area: cartas;
    display: flex;
}

.grid {
    position: absolute;
    top: 10px;
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}